<mat-card>
  <div class="container">
    <div class="row">
      <div class="col-md-1">
      </div>
      <div class="col-md-6">
        <div class="inbox">
          Inbox
        </div>
      </div>
      <div class="col-3">
        <div class="filter">
          Filter
        </div>
      </div>

    </div>
  </div>

</mat-card>
<mat-card *ngFor="let obj of messages">
  <div class=" container">
    <div class="row">
      <div class="col-md-1">
        <div class="avatar">
          <!-- {{obj.from.name}} -->
          <span style=" overflow:hidden; display:block;width: 28px;overflow: hidden; white-space: nowrap;">
            {{obj.from.name}}
          </span>

        </div>
      </div>
      <div class="col-md-6">
        <div class="fromName"> {{obj.from.name}}</div>
        <div class="subject"> {{obj.subject}}</div>
        <div class="body">{{obj.body}}</div>
      </div>
      <div class="col-3">
        <div class="fromName"> </div>
        <div class="time">
          {{obj.time}}
        </div>
      </div>

    </div>
  </div>
</mat-card>