<cdk-virtual-scroll-viewport class="list-container lg" [itemSize]="52.5">
  <div class="container">
    <div class="row">
      <div class="col-md-1">
      </div>
      <div class="col-md-6">
        <div class="inbox">
          Inbox
        </div>
      </div>
      <div class="col-3">
        <div class="filter">
          Filter

        </div>
      </div>

    </div>
  </div>

  <div *cdkVirtualFor="let message of messages" class="list-group-item">
    <div class=" container">
      <div class="row">
        <div class="col-md-1">
          <div class="avatar">
            <span style=" overflow:hidden; display:block;width: 28px; white-space: nowrap;  ">
              {{message.from.name}}
            </span>

          </div>
        </div>
        <div class="col-md-6">
          <div class="fromName"> {{message.from.name}}</div>
          <div class="subject"> {{message.subject}}</div>
          <div class="body">{{message.body}}</div>
        </div>
        <div class="col-md-3">
          <div class="fromName"><br></div>
          <div class="time">
            {{message.time}}
          </div>
        </div>

      </div>
    </div>
  </div>
</cdk-virtual-scroll-viewport>