.fromName,
.subject,
.body,
.time,
.filter,
.avatar {
  font-family: "Roboto", sans-serif, thin;
}
.body,
.time {
  color: gray;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
  overflow: hidden;
  width: 30em;
}
.time {
  font-size: 12px;
}
.filter {
  color: #0073d6;
}
.inbox {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 20px;
}

.avatar {
  display: inline-block;
  border-radius: 50%;
  height: 28px;
  width: 28px;
  color: white;
  text-align: center;
  line-height: 28px;
  font-size: 12px;
  background-color: darkgreen;

  &.large {
    height: 32px;
    width: 32px;
    line-height: 32px;
  }
}

.container {
  padding: 10px;
}
